body {
    font-family: "Ga Maamli", sans-serif;
    font-size: 20px;
    margin: 0;
    background-image: url('graphics/5_background/background_img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

h1 {
    font-size: 48px;
    margin: 0;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #F9D003;
    font-weight: lighter;
    text-decoration: underline;
}
 
.close-text {
    color: #F9D003;
}

.starting-screen {
    z-index: 2;
    width: 720px;
    height: 484px;
    position: absolute;
    display: flex;
    justify-content: center;
    animation: fadeIn 1.5s 1s ease-in-out forwards;
}

.starting-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    z-index: 1;
    position: absolute;
    height: 480px;
}

.settings-screen {
    z-index: 3;
    width: 720px;
    height: 484px;
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: #000000;
    opacity: 0.94;
}

.settings-btn {
    height: 40px;
    width: 40px;
  
}

.fullscreen-btn {
    height: 64px;
    width: 64px;
  
}

.settings-btn:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.figcaption {
    color:  #FFD900;
    font-weight: lighter;
    font-size: 24px;
    padding-left: 14px;
}

.sound-options-container {
    display: flex;
    padding-left: 14px;
    padding-top: 14px;
    gap: 14px;
}

.start-btn {
    z-index: 2;
    width: 240px;
    height: 60px;
    margin-top: 20px;
    background-color: #FFD900;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    font-family: "Ga Maamli", sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: none;
}


.start-btn:hover {
    cursor: pointer;
    box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.5);
    transform: scale(1.2);
}

.d-hide {
    display: none;
}

.d-block {
    display: block;
}

.jc-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jc-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fd-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fd-col {
    display: flex;
    flex-direction: column;
}

.m-left40 {
    margin-left: 40px;
}

.m-right40 {
    margin-right: 40px;
}

.m-right14 {
    margin-right: 14px;
}

.m-top20 {
    margin-top: 20px;
}

.d-flex {
    display: flex;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 8px;
    font-size: 18px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.policy-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 120px;
}

a {
    color: #47C5C7;
}

a:hover {
    cursor: pointer;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    transform: scale(1.2);
}

canvas {
    background-color: black;
    display: block;
    z-index: 1;
}

.sound-icon {
    height: 48px;
    width: 48px;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 14px;
}

.sound-icon:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.close-btn {
    height: 48px;
    width: 48px;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10px;
    border-radius: 10px;
}

.close-btn:hover {
    cursor: pointer;
    transform: scale(1.2);
}


@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    h1 {
        display: none;
    }

    .menu {
        display: none;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }

    .menu {
        display: none;
    }
}


