body {
    font-family: "Ga Maamli", sans-serif;
    font-size: 20px;
    margin: 0;
    background-image: url('graphics/5_background/background_img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

h1 {
    font-size: 48px;
    margin: 0;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.starting-screen {
    background-image: url('graphics/9_intro_outro_screens/start/startscreen_1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    width: 862px;
    height: 492px;
    position: absolute;
    display: flex;
    justify-content: center;
}

.settings-screen {
    z-index: 1;
    width: 862px;
    height: 492px;
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: #000000;
    opacity: 0.8;
}

.settings-btn {
    height: 64px;
    width: 64px;
    padding-top: 8px;
}

.settings-btn:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.start-btn {
    z-index: 2;
    width: 240px;
    height: 60px;
    margin-top: 20px;
    background-color: #FFD900;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    font-family: "Ga Maamli", sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

.start-btn:hover {
    cursor: pointer;
    box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.5);
    transform: scale(1.2);
}

.d-hide {
    display: none;
}

.d-block {
    display: block;
}

.menu {
    display: flex;
    align-items: center;
    font-size: 22px;
    gap: 24px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

canvas {
    background-color: black;
    display: block;
    z-index: -1;
}

.sound-icon {
    height: 48px;
    width: 48px;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10px;
    border-radius: 10px;
}

.sound-icon:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.close-btn {
    height: 48px;
    width: 48px;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10px;
    border-radius: 10px;
}

.close-btn:hover {
    cursor: pointer;
    transform: scale(1.2);
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    h1 {
        display: none;
    }

    .menu {
        display: none;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }

    .menu {
        display: none;
    }
}


